.RoundButton {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding:10px;
	background-color: rgba(10, 10, 250, .7);	
	color:white;	
	z-index: 9999;
	display: inline-block;
	margin-top: 10px;
}

.BackButtonContainer {
	text-align: center;	
	margin-top: 0px;
	padding-bottom: 20px;
}