.Logo {
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.Footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #245977;
    z-index: 99999;
}

@media (min-width: 501px) {
    .Footer {
        border-radius: 0px 0px 20px 20px;
    }
}