.Container {
    margin-left: 20px;
    margin-right: 20px;
}

.Table {
    table-layout: fixed;
    text-align: left;
    overflow-x: auto;
    border: none;           
    border-collapse: collapse;
    width: 100%;
}

.TableRow {
    height: 35px;
}

.CheckboxCell {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
}

.NameCell {
    white-space:nowrap; 
    overflow:hidden;       
    text-align: left;
}

.DateCell {
    white-space:nowrap;
    overflow:hidden; 
    text-align: left;   
}
